
// Font Face
@font-face {
    font-family: Quicksan-regular;
    src: url("../../fonts/quicksand/Quicksand-Regular.ttf");
}

@font-face {
    font-family: Quicksand-bold;
    font-weight: 700;
    src: url("../../fonts/quicksand/Quicksand_Bold.otf");
}


// Battambang font
@font-face {
    font-family: Battambang;
    src: url("../../fonts/battambang/KhmerOSBattambang-Regular.ttf");
}

@font-face {
    font-family: Battambang-bold;
    src: url("../../fonts/battambang/KhmerOSBattambang-Bold.ttf");
}