$font-reg: Quicksand ,Helvetica Neue,Battambang,Arial,Noto Sans,sans-serif;
$font-bold: 700;

$text-link: #465862;
$text-link-light: #929CAA;
$light-grey: #DCE4EA;
$text-green: #5AB248;
$text-social: #4290CC;